@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: Inter;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
