{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}
  <p>Hola mundo! 
  {% if formattedDate %}
      Tu última visita fue el {{ formattedDate.day }} 
      de {{ formattedDate.month }} del año {{ formattedDate.year }}
      a las {{ formattedDate.hour }} 
  {% endif %}
  </p>
{% endblock %} 