{% extends 'base.html.twig' %}

{% block title %}Hello World{% endblock %}

{% block body %}
  <p>Hola mundo! 
  {% if last_access %}
      Tu última visita fue: {{ last_access}}
  {% endif %}
  </p>
{% endblock %} 